{% extends 'index.html' %}
{% load static %}

{% block content %}
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>

            <!-- Content Row -->
            <div class="row">
                <!-- Fuel Usage Trend Card  -->
                {% for car in CarFuelHistory %}

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Fuel Health </div>
                                    <div class="text-xs text-info text-uppercase mb-1">  {{ car.Make }} {{ car.Model }} {{ car.VIN }}  </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                     {% if car.PossibleFuelLeak == 1 %}
                                                     style="width: 100%;background-color:red!important"
                                                     {% else %}
                                                     style="width: 100%;background-color:green!important"
                                                     {% endif%}
                                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-ambulance fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>

            <!-- Content Row -->

            <div class="row">

                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                     aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="myPieChart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-primary"></i> Direct
                    </span>
                                <span class="mr-2">
                      <i class="fas fa-circle text-success"></i> Social
                    </span>
                                <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Referral
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; iFuelManager 2019</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>

{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title> Car Dashboard </title>-->
    <!--<link rel="stylesheet" type="text/css" href="{% static '/DataTables/datatables.min.css' %}"/>-->
<!--</head>-->
<!--<body>-->
 <!--<h1> OBD Car Dashboard </h1>-->
 <!--<button onclick="loadAjaxData()"> Refresh Car Data</button>-->
 <!--<br>-->
<!--&lt;!&ndash;<ul>&ndash;&gt;-->
    <!--&lt;!&ndash;{% for obdData in CarOBDData %}&ndash;&gt;-->

     <!--&lt;!&ndash;<li> {{ obdData }} </li>&ndash;&gt;-->

    <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;</ul>&ndash;&gt;-->
<!--<div>-->
 <!--<table id="obdData" class="display" style="width:60%">-->
     <!--<thead>-->
     <!--<tr>-->
         <!--<th>VIN</th>-->
         <!--<th>RPM</th>-->
         <!--<th>Speed</th>-->
         <!--<th>FuelTankLevel</th>-->
     <!--</tr>-->
     <!--</thead>-->
     <!--<tfoot>-->
     <!--&lt;!&ndash;<tr>&ndash;&gt;-->
         <!--&lt;!&ndash;<th>VIN</th>&ndash;&gt;-->
         <!--&lt;!&ndash;<th>RPM</th>&ndash;&gt;-->
         <!--&lt;!&ndash;<th>Speed</th>&ndash;&gt;-->
         <!--&lt;!&ndash;<th>FuelTankLevel</th>&ndash;&gt;-->
     <!--&lt;!&ndash;</tr>&ndash;&gt;-->
     <!--</tfoot>-->
 <!--</table>-->
<!--</div>-->
<!--<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>-->
<!--<script type="text/javascript" src=" {% static '/DataTables/datatables.min.js' %}"></script>-->
<!--&lt;!&ndash;<script type="text/javascript" src=" {% static 'js/socket.io.js' %}"></script>&ndash;&gt;-->
<!--<script src="{% static 'dashboard/app.js' %}"></script>-->


<!--</body>-->
<!--</html>-->