{% extends 'index.html' %}
{% load static %}

{% block content %}
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Content Row -->
            <div class="row">
                <!-- Fuel Usage Trend Card  -->
                {% for car in CarFuelHistory %}

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Fuel Health </div>
                                    <div class="text-xs text-info text-uppercase mb-1">  {{ car.Make }} {{ car.Model }} {{ car.VIN }}  </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                     {% if car.PossibleFuelLeak == 1 %}
                                                     style="width: 100%;background-color:red!important"
                                                     {% else %}
                                                     style="width: 100%;background-color:green!important"
                                                     {% endif%}
                                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-ambulance fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs">
                                <canvas width=190 height=100 id="fuelMeter"
                                        style="width: 190px; height: 100px;"></canvas>
                                <i class="fas fa-gas-pump"
                                   style="display: block;text-align:center; line-height:150%; font-size:.85em;"></i>
                            </div>
                            <div class="col-xs">
                                <canvas width=190 height=100 id="RPMMeter"
                                        style="width: 190px; height: 100px;"></canvas>
                                <label style="display: block;text-align:center; line-height:150%; font-size:.85em;"> RPM
                                    x1000</label>
                            </div>
                            <div class="col-xs">
                                <canvas width=190 height=100 id="SpeedoMeter"
                                        style="width: 190px; height: 100px;"></canvas>
                                <label style="display: block;text-align:center; line-height:150%; font-size:.85em;">
                                    km/h</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; iFuelManager 2019</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'dashboard/gauge.min.js' %}"></script>
<script src="{% static 'dashboard/app.js' %}"></script>
{% endblock %}