{% extends 'index.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'chatView/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<script type="text/javascript">
    var CarFuelHistory =[];
</script>
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            </div>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <div class="container-fluid">
            <script type="text/javascript">
                  CarFuelHistory =  {{ carObdReading | safe }};
                  CarFuelHistory.reverse();
                  jsonCarProfile = {{ jsonCarProfile | safe }};
            </script>

            <div class="row">

                <div class="col-xl-8 col-lg-7">

                    <!-- Area Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Fuel Usage Chart</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="col-xs">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Vehicle Data </div>
                                    {% for profile in carProfile %}
                                        <div class="text-xs text-info text-uppercase mb-1"> {{ profile.OwnerFirstName }} </div>
                                        <div class="text-xs text-info text-uppercase mb-1"> {{ profile.OwnerLastName }} </div>
                                        <div class="text-xs text-info text-uppercase mb-1"> {{ profile.Make }}</div>
                                        <div class="text-xs text-info text-uppercase mb-1"> {{ profile.Model }}</div>
                                        <div class="text-xs text-info text-uppercase mb-1"> {{ profile.VIN }}</div>
                                        <input type="button" id="liveFuelLevel" value="Live Fuel level"
                                           onclick="getLiveFuelLevel('{{ profile.VIN  }}')"/>
                                    {% endfor %}
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-car fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>


                <div class="col-xs col-xl-8 col-lg-7">
                    <div id="slider-range-max"></div>
                    <div id="currentSliderValue"></div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; iFuelManager 2019</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'chatView/Chart.min.js' %}"></script>
<script src="{% static 'chatView/jquery-ui.js' %}"></script>
<script src="{% static 'chatView/app.js' %}"></script>
{% endblock %}

